@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

body {
    --main-color: #000000;
    --primary-color: #1b1a1a;
    --button--background: #7278d6;
    --background-color: #e2efff;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

h3,
h4 {
    font-family: 'Karla', sans-serif;
}

p,
a,
li {
    font-family: 'Karla', sans-serif;
    color: var(--primary-color);
}

p {
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #EE9D19;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    color: #f38d07;
    background-color: white;
    border: 1px solid #f38d07;
}

/******************************************* Navbar design ********************************************/
#logo {
    width: 11rem;
    height: 3.6rem;
}

header {
    padding-left: 1rem;
    padding-top: 1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

header nav .left-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.sub-menu {
    display: flex;
    height: inherit;
    position: relative;
}

.sub-menu a {
    margin-right: 1.5rem
}

.sub-menu a li {
    font-size: 1.3rem;
    text-transform: capitalize;
    line-height: 3rem;
    transition: all 0.2s;
}

.sub-menu a li:hover {
    color: #f38d07;
}

.right-menu a img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}
@media only screen and (max-width: 768px) {
    /* Modify styles for small screens */
    header {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
    }
    
    #logo {
      width: 8rem;
      height: 2.6rem;
    }
    
    header nav .left-menu {
      width: 60%;
    }
    
    .sub-menu a li {
      font-size: 1rem;
      line-height: 2rem;
    }
    
    .right-menu a img {
      width: 2.5rem;
      height: 2.5rem;
      margin-top: 0.3rem;
    }
  }
  
  @media only screen and (max-width: 576px) {
    /* Modify styles for extra small screens */
    header {
      padding-left: 0.2rem;
      padding-top: 0.5rem;
    }
    
    #logo {
      width: 6rem;
      height: 2rem;
    }
    
    header nav .left-menu {
      width: 70%;
    }
    
    .sub-menu {
      display: none;
    }
    
    .right-menu a img {
      width: 2rem;
      height: 2rem;
      margin-top: 0.3rem;
    }
  }
  
/********************************************Home page***************************************************/
.home-page {
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-home-page, .right-home-page {
    width: 100%;
    padding: 0 1rem;
}

.left-home-page h1 {
    font-size: 2.5rem;
    line-height: 4.5rem;
}

.left-home-page p {
    font-size: 1rem;
    text-align: justify;   
}

.right-home-page img {
    height: auto;
    max-width: 100%;
    margin: 2rem 0;
}

@media (min-width: 768px) {
    .home-page {
        flex-direction: row;
    }
    
    .left-home-page, .right-home-page {
        width: 50%;
        padding: 0 2rem;
    }

    .right-home-page img {
        margin: 4rem 0;
    }

    .left-home-page h1 {
        font-size: 3rem;
        line-height: 5rem;
    }

    .left-home-page p {
        font-size: 1.1rem;
        text-align: justify;
    }
}


/**********************years section*************************/
.years-section {
    margin-bottom: 3rem;
}

.years-container {
    margin-top: 6rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.years-heading {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

.years-text {
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.years-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.years-box {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    width: calc(33.33% - 20px);
}

.years-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px #f38d07;
}

.years-box img {
    max-width: 18%;
}

.box-content {
    padding: 0 60px;
    padding-bottom: 2rem;
}

.box-content h3 {
    margin-bottom: 13px;
    font-size: 1.1rem;
}

.box-content p {
    font-size: 14px;
}

/* CSS for image */
.years-box img {
    margin-top: 1rem;
    width: 100%;
    height: auto;
}

/* CSS for text */
.years-box p {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.6rem;
    font-family: 'Karla', sans-serif;
}
/* CSS for boxes */

.years-box {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .years-box {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .years-box {
        width: 100%;
    }
}
/****************************Domain section**************************************/
.box-container {
    display: flex;
    flex-direction: column;
}

.domain-heading {
    font-size: 2rem;
    line-height: 8rem;
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 2rem;
}
.box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.box img {
    width: 50%;
    margin-right: 20px;
}

.text {
    flex: 1;
}

.box-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.box-text {
    font-size: 16px;
    margin-bottom: 20px;
}

/****************************library section*******************************/
.library-body {
    background-image: url("library.jpeg");
    background-size: cover;
    opacity: 1.0;
    color: #fff;
    text-align: center;
    margin: 1rem;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}

.library-text {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 6rem;
}

.library-link {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #f38d07;
    border: none;
    transition: background-color 0.3s ease;
}

.library-link:hover {
    color: #f38d07;
    background-color: white;
    border: 1px solid black;
}

/****************************contact us*************************/

.contact-heading {
    font-size: 2rem;
    line-height: 6rem;
    text-align: center;
}

.contact-us {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-us form {
    display: flex;
    flex-direction: column;
}

.contact-us form label {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-us input,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.contact-us textarea {
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-us ::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

/************************back to top button********************************/
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#back-to-top img {
    width: 50px;
    height: 50px;
}

#back-to-top:hover {
    cursor: pointer;
}
/*******************************footer**********************************/
footer {
    background-color: #dad6d6;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
    color: #141313;
}
